form#cs {

}
	form#cs fieldset {
	
	}
	
	form#cs label, label.up {
		display: block;
		font-size: 15px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 300;
	}
	form#cs input[type=text], form#cs input[type=password], form#cs input[type=number], input[type=text].up {
		font-size: 15px;
		font-family: 'Source Sans Pro';
		width: 300px;
		padding: 9px 12px;
		border: 1px solid #cccccc;
		margin-bottom: 25px;
		vertical-align: top;
	}
	form#cs .req {
		display: inline-block;
		padding-top: 1px;
		padding-left: 5px;
		color: #b50000;
		font-size: 24px;
		font-weight: 300;
	}
	form#cs input[type=submit] {
		width: 100%;
		height: 60px;
		text-align: center;
		display: block;
		background: #47b031;
		border: 0px;
		font-family: 'Source Sans Pro';
		font-size: 20px;
		color: #ffffff;
		font-weight: 300;
		border-bottom: 5px solid #338821;
		text-transform: uppercase;
	}
		form#cs input:hover[type=submit] {
			background: #51d036;
			border-bottom: 5px solid #41b528;
			cursor: pointer;
		}
		
	form#cs input[type=submit]:disabled {
		background: #e8e8e8;
		border-bottom: 5px solid #cccccc;
		cursor: default;
	}
		
	form#cs .who {
		background: #e8e8e8;
		color: #333333;
		padding: 15px 27px;
		font-size: 15px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 25px;
		font-weight: 300;
		width: 50%;
	}
		form#cs .who:hover {
			background: #cccccc;
		}
		form#cs .who i {
			display: inline-block;
			margin-right: 15px;
		}
		form#cs .who#just_me {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		form#cs .who#multiple_users {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		form#cs .who.active {
			background: #47b031;
			color: #ffffff;
		}
		
	form#cs .where {
		background: #e8e8e8;
		color: #333333;
		padding: 15px 0px 15px 20px;
		font-size: 15px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 25px;
		font-weight: 300;
		width: 20%;
		border-left: 1px solid #ffffff;
	}
		form#cs .where#SJ {
			border-left: 0px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		form#cs .where#NO {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		form#cs .where:hover {
			background: #cccccc;
		}
		form#cs .where i {
			display: inline-block;
			margin-right: 15px;
		}
		form#cs .where.active {
			background: #f04f00;
			color: #ffffff;
		}
		
	form#cs .length_error {
		display: none;
		color: #b50000;
	}
	
	form#cs #members_fields {
		display: none;
		margin-bottom: 25px;
	}
	
	#safeName {
		font-size: 26px;
		font-weight: 300;
		margin-bottom: 25px;
		height: 26px;
	}
		#safeName span {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
		}
	
	#formLoading, #updateFormLoading {
		background: rgba(255,255,255,0.91);
		height: 500px;
		width: 499px;
		margin-left: -1px;
		position: absolute;
		font-weight: 400;
		font-size: 29px;
		padding-top: 100px;
		text-align: center;
		display: none;
	}
		#updateFormLoading {
			padding-top: 70px;
		}
		#formLoading.obj, #updateFormLoading.obj {
			width: 540px;
		}
		#formLoading img, #updateFormLoading img {
			display: inline-block;
			text-align: center;
			margin-bottom: 25px;
		}
		#formLoading > i, #updateFormLoading > i {
			color: #47b031;
			font-size: 64px;
			margin-bottom: 25px;
			display: inline-block;
		}
			#formLoading > i.red, #updateFormLoading i.red {
				color: #b50000 !important;
			}
		#formLoading span, #updateFormLoading span {
			font-size: 16px;
			display: block;
			margin-top: 10px;
			margin-bottom: 25px;
		}
			#formLoading span a, #updateFormLoading span a {
				color: #47b031;
			}
				#formLoading span a:hover, #updateFormLoading span a:hover {
					text-decoration: none;
				}
		#formLoading .fButton, #updateFormLoading .fButton {
			border-radius: 3px;
			background: #e8e8e8;
			color: #555555;
			font-weight: 300;
			font-size: 15px;
			padding: 10px 20px;
			display: inline-block;
			text-decoration: none;
			border-bottom: 2px solid #d3d3d3;
		}
			#formLoading a.fButton:hover, #updateFormLoading a.fButton:hover {
				background: #cccccc;
				border-bottom: 2px solid #aaaaaa;
			}
			#formLoading .fButton i, #updateFormLoading a.fButton i {
				display: inline-block;
				margin-right: 15px;
				color: #999999;
			}
			
		#formLoading ul, #updateFormLoading ul {
			text-align: left;
			padding-left: 50px;
		}
			#formLoading ul li, #updateFormLoading ul li {
				padding-bottom: 7px;
			}
			
		#safeNameCont {
			display: none;
		}
	
	#add_members {
		background: #e8e8e8;
		height: 40px;
	}
		form#cs #add_members label {
			display: inline-block;
			vertical-align: top;
			padding-right: 20px;
			padding-left: 20px;
			line-height: 40px;
			background: #dadada;
			height: 40px;
			margin-right: 0px;
			font-size: 14px;
		}
		form#cs #add_members input[type=text] {
			display: inline-block;
			width: 220px;
			vertical-align: top;
			padding: 5px 10px;
			border: 1px solid #e1e1e1;
			color: #333333;
			font-size: 13px;
			margin: 6px 10px 0px;
		}
	#members {
		background: #f2f2f2;
		
		padding: 15px;
	}
		#members table {
			width: 100%;
			font-size: 14px;
		}
			#members table tr th {
				padding: 0px 10px 9px 10px;
				border-bottom: 1px solid #e1e1e1;
			}
				#members table tr th.removeth {
					width: 30px;
				}
			#members table tr td {
				padding: 9px 10px;
			}
			#members table tbody tr:nth-child(2n+1) td {
				background: #e4e4e4;
			}
				#members table tbody tr.initial td {
					background: transparent !important;
				}
				
			#members table tr td a {
				color: #b50000;
			}
				#members table tr td a:hover {
					color: #ff0000;
				}
				
			#members table tr td a.m_type {
				background: #cccccc;
				font-size: 12px;
				display: inline-block;
				padding: 5px 10px;
				color: #333333;
				text-decoration: none;
			}
				#members table tr td a:hover.m_type {
					background: #dddddd;
				}
				#members table tr td a.m_type.active {
					background: #f04f00;
					color: #ffffff;
				}
	.envs {
		margin-bottom: 25px;
		display: block;
		font-size: 14px;
	}
		.envs #env_name {
			display: inline-block;
			background: #e8e8e8;
			padding: 9px 10px;
			border-radius: 3px;
			margin-right: 10px;
		}
		.envs > a {
			color: #444444;
		}
			.envs a:hover {
				text-decoration: none;
			}
	
	#environments {
		display: none;
		position: absolute;
		width: 300px;
		margin-left: 30px;
		margin-top: -30px;
		background: #ffffff;
		border: 1px solid #e1e1e1;
		padding: 10px;
		border-radius: 3px;
	}
		#environments b {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 10px 0;
			border-color: transparent #cccccc transparent transparent;
			position: absolute;
			margin-left: -20px;
			margin-top: 25px;
		}
		#environments a {
			display: block;
			padding: 10px 20px;
			font-size: 14px;
			text-decoration: none;
			color: #222222;
			border-radius: 3px;
		}
			
			#environments a:nth-child(even) {
				background: #f1f1f1;
			}
			#environments a:hover {
				background: #e8e8e8;
			}
			#environments a.active {
				display: block;
				background: #f04f00;
				color: #fffffff;
				color: #ffffff;
			}
			#environments a i {
				display: none;
				margin-right: 15px;
			}
				#environments a.active i {
					display: inline-block;
				}
	
	.desc {
		width: 100%;
		padding: 13px;
		height: 90px;
		line-height: 16px;
		border: 1px solid #e1e1e1;
		border-radius: 3px;
		margin-bottom: 25px;
		font-family: 'Source Sans Pro';
		font-size: 14px;
	}
		
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #e8e8e8; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; display: inline-block; background: #e8e8e8; }

.pages_loading {
	display: none;
	height: 200px;
	position: absolute;
	background: rgba(255,255,255,.6);
	text-align: center;
	font-size: 0;
}

#nameError {
	display: none;
	border-radius: 3px;
	background: #ebcece;
	border: 1px solid #dea5a5;
	font-size: 14px;
	padding: 11px 13px;
	margin-bottom: 20px;
	margin-top: -5px;
	font-size: 15px;
	color: #714a4a;
	font-weight: 300;
}
#safeLoader {
	display: inline-block;
}

#task_loader {
	background: #ffffff;
	display: none;
}
	#task_loader .obj_name {
		width: 640px;
	}
	
.accounts > div#createObject {
	position: absolute;
	margin-left: 500px;
	margin-bottom: 35px;
	width: 580px;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 3px 1px 0px #e3e8ec;
	display: none;
	z-index: 1000;
	overflow: hidden;
}
	.accounts > div#createObject h2 {
		color: #333333;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}
		.accounts > div#createObject h2 i {
			margin-right: 20px;
			color: #004676;
			float: left;
			display: block;
		}
		.accounts > div#createObject a.closeCreate {
			float: right;
			font-size: 24px;
			color: #cccccc;
		}
			.accounts > div#createObject a:hover.closeCreate {
				color: #b50000;
			}
	
.accounts > div#object {
	position: absolute;
	margin-left: 500px;
	margin-bottom: 35px;
	width: 600px;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 3px 1px 0px #e3e8ec;
	display: none;
	z-index: 1000;
	overflow: hidden;
}
	.accounts > div#object h2 {
		color: #333333;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}
		.accounts > div#object h2 i {
			margin-right: 20px;
			color: #004676;
			float: left;
			display: block;
		}
		.accounts > div#object h2 span {
			float: left;
			width: 460px;
			display: block;
			margin-bottom: 20px;
			word-wrap: break-word;
		}
		.accounts > div#object p {
			clear: both;
		}
		.accounts > div#object a.closeObject {
			float: right;
			font-size: 24px;
			color: #cccccc;
		}
			.accounts > div#object a:hover.closeObject {
				color: #b50000;
			}
	
	#object #update_div {
		width: 598px;
		margin: -20px;
		position: absolute;
		background: #ffffff;
		color: #333333;
		padding: 30px;
		border-radius: 3px;
		font-weight: 300;
		display: none;
	}
		#object #update_div h3 {
			font-weight: 300;
			color: #333333;
			font-size: 24px;
			margin-bottom: 25px;
		}
	
	#update_div #update_buttons {
		height: 40px;
	}
	#update_div #update_buttons .button {
		float: left;
		border-radius: 3px;
		background: #e8e8e8;
		color: #444444;
		display: block;
		width: 180px;
		padding: 10px 0px;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		border-bottom: 2px solid #cecece;
	}
		#update_div #update_buttons .button.right {
			float: right;
			background: #4ba61f;
			color: #ffffff;
			border-bottom: 2px solid #3f9117;
		}
		#update_div #update_buttons .button.inactive {
			opacity: 0.5;
			cursor: default;
		}
		
		
	#object #move_div {
		width: 598px;
		margin: -20px;
		position: absolute;
		height: 500px;
		background: #243235;
		color: #ffffff;
		padding: 30px;
		border-radius: 3px;
		text-align: center;
		font-weight: 300;
		display: none;
	}
		#object #move_div h3 {
			font-weight: 300;
			color: #ffffff;
			margin-top: 45px;
			font-size: 36px;
			margin-bottom: 25px;
		}
		#object #move_div span.safes_i_have_access_to {
			font-size: 17px;
			color: #e1f1f4;
			display: block;
			margin-bottom: 10px;
		}
		#move_success a {
			display: inline-block;
			padding: 10px 0px;
			width: 170px;
			font-size: 16px;
			text-align: center;
			color: #ffffff;
			background: #c43737;
			text-decoration: none;
			background: #36484c;
		}
		#object #move_div #move_buttons {
			margin-top: 20px;
		}
			#object #move_div #move_buttons a {
				display: block;
				float: left;
				padding: 10px 0px;
				width: 170px;
				font-size: 16px;
				text-align: center;
				color: #ffffff;
				background: #c43737;
				
				text-decoration: none;
				background: #36484c;
			}
				#object #move_div #move_buttons a#move_final {
					float: right;
					background: #2a78c0;
				}
					#object #move_div #move_buttons a#move_final.inactive {
						opacity: 0.2;
						cursor: default;
					}
		#object #move_div div#move_safes {
			border-radius: 3px;
			display: block;
			margin: 0px 0px;
			padding: 10px;
			padding-bottom: 6px;
			text-align: left;
			height: 285px;
		}
			#object #move_div div#move_safes input {
				background: #172224;
				color: #808384;
				font-size: 14px;
				width: 500px;
				padding: 14px 20px;
				border: 0px;
				font-family: 'Source Sans Pro';
				margin-bottom: 10px;
			}
			#object #move_div div#move_safes ul {
				list-style: none;
			}
				#object #move_div div#move_safes ul li {
				
				}
					#object #move_div div#move_safes ul li a {
						display: block;
						color: #ffffff;
						text-align: left;
						border-radius: 3px;
						text-decoration: none;
						padding: 9px 11px;
						font-size: 16px;
					}
						#object #move_div div#move_safes ul li a:hover {
							background: #334b50;
						}
						#object #move_div div#move_safes ul li a i {
							color: #404a4c;
							margin-right: 20px;
						}
							#object #move_div div#move_safes ul li a:hover i {
								color: #457b86;
							}
						#object #move_div div#move_safes ul li a.active {
							background: #0d437b;
						}
							#object #move_div div#move_safes ul li a.active i {
								color: #ffffff;
							}
							
		#move_spinner {
			font-size: 16px;
			line-height: 28px;
		}
			#move_spinner img {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;
			}
		
			#move_pages {
				border-top: 2px solid #1e2b2e;
				padding-top: 8px;
				margin-top: 10px;
				color: #cccccc;
				height: 30px;
			}
				#move_pages .num_results {
					float: left;
				}
				#move_pages .pages_ops {
					float: right;
				}
					#move_pages .num_pages {
						display: inline-block;
						margin-right: 10px;
					}
						#move_pages .num_pages em {
							font-style: normal;
						}
					#move_pages .pages_ops a {
						background: #2a3d41;
						color: #cccccc;
						font-size: 14px;
						padding: 6px 8px;
						display: inline-block;
					}
						#move_pages .pages_ops a:hover {
							color: #ffffff;
							background: #2a78c0;
						}
						#move_pages .pages_ops a.inactive {
							background: #172224;
							color: #0b1213;
							cursor: default;
						}
						#move_pages .pages_ops a.nxt {
							margin-left: 2px;
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
						}
						#move_pages .pages_ops a.prv {
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
						}
	
	
	#object #delete_div {
		width: 598px;
		margin: -20px;
		position: absolute;
		height: 270px;
		background: #ad0a0a;
		color: #ffffff;
		padding: 30px;
		border-radius: 3px;
		text-align: center;
		font-weight: 300;
		display: none;
	}
		#object #delete_div h3 {
			font-weight: 300;
			color: #ffffff;
			margin-top: 45px;
			font-size: 36px;
			margin-bottom: 25px;
		}
			#object #delete_div a {
				display: inline-block;
				padding: 10px 0px;
				width: 220px;
				font-size: 16px;
				text-align: center;
				color: #ffffff;
				background: #c43737;
				border-radius: 3px;
				margin: 0px 10px 10px;
				text-decoration: none;
			}
				#object #delete_div a i {
					color: #e9cfcf;
					display: inline-block;
					margin-right: 10px;
				}
			
	#delete_spinner, #delete_errors, #delete_success, #move_spinner, #move_errors, #move_success {
		display: none;
	}
	
	#delete_errors > div ul {
		padding-left: 10px;
		width: 500px;
		margin-left: 25px;
		text-align: left;
		color: #e9cfcf;
		margin-top: 10px;
	}
		#delete_errors > div ul li {
			padding-left: 10px;
		}
	
	#delete_spinner {
		font-size: 16px;
		line-height: 28px;
	}
		#delete_spinner img {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
		}
			
	#object a.object_actions {
		border-radius: 3px;
		background: #ffffff;
		border: 1px solid #e8e8e8;
		color: #333333;
		text-decoration: none;
		text-align: center;
		display: block;
		width: 31.5%;
		float: left;
		font-weight: 300;
		padding: 15px 0px;
	}
		#object a.object_actions#delete_button {
			float: right;
		}
		#object a.object_actions#update_button {
			margin-right: 2.7%;
		}
		#object a.object_actions i {
			display: block;
			font-size: 30px;
			margin-bottom: 15px;
		}
		
	
.accounts > div#inventory {
	position: absolute;
	margin-left: 300px;
	margin-bottom: 35px;
	width: 600px;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 3px 1px 0px #e3e8ec;
	display: none;
	z-index: 900;
}
	.accounts > div#inventory h2 {
		color: #333333;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}
		.accounts > div#inventory h2 i {
			margin-right: 20px;
			color: #004676;
		}
	.accounts > div#inventory a.closeInventory {
		float: right;
		font-size: 24px;
		color: #cccccc;
	}
		.accounts > div#inventory a:hover.closeInventory {
			color: #b50000;
		}
.accounts > div#safes {
	float: left;
	margin-bottom: 35px;
	width: 63%;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 3px 1px 0px #e3e8ec;
	z-index: 800;
}
	.accounts > div#safes h2 {
		color: #333333;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}
		.accounts > div#safes h2 i {
			margin-right: 20px;
			color: #004676;
		}
		
	#safes.active table#my_safes tr.entry:hover td, #inventory.active table#my_inventory tr.entry:hover td {
		background: #dfebf3 !important;
		cursor: pointer;
	}
		
	.accounts > div#inst {
		float: right;
		width: 32%;
		text-align: top;
		font-size: 20px;
		font-weight: 300;
		padding-top: 50px;
	}
	
	#objects tr td {
		cursor: pointer;
	}
	#my_safes tr.active td, #my_inventory tr.active td {
		background: #81a5d7;
		color: #ffffff;
	}
	
	#safes input[type=text] {
		border-radius: 3px;
		border: 1px solid #e8e8e8;
		padding: 8px 13px;
		width: 100%;
	}
	
	div.actions {
		position: absolute;
		display: none;
		background: #ffffff;
		border: 1px solid #e8e8e8;
		padding: 15px;
		width: 400px;
		height: 340px;
		border-radius: 3px;
		box-shadow: 0px 3px 1px 0px #e3e8ec;
	}
		div.actions #delete_div {
			background: #9d0e0e;
			width: 370px;
			position: absolute;
			height: 310px;
			border-radius: 3px;
			color: #ffffff;
			text-align: center;
			display: none;
			font-weight: 300;
		}
			div.actions #delete_div > div {
				padding-top: 50px;
			}
				div.actions #delete_div div > i {
					font-size: 65px;
					margin-bottom: 25px;
					display: block;
				}
				div.actions #delete_div div .headline {
					font-size: 24px;
					margin-bottom: 20px;
				}
				div.actions #delete_div > div a {
					background: #c33131;
					border-radius: 3px;
					color: #222222;
					display: inline-block;
					width: 120px;
					text-align: center;
					margin: 0px 5px;
					padding: 10px;
					text-decoration: none;
					color: #ffffff;
				}
					div.actions #delete_div > div a:hover {
						background: #e41212;
					}
		.actions table {
			font-weight: 300;
		}
			.actions table tr td {
				padding: 8px 10px;
				border-bottom: 2px solid #ffffff;
				font-size: 14px;
			}
			.actions table tr td:first-child {
				background: #e8e8e8;
				width: 140px;
			}
			.actions table tr td:last-child {
				padding-left: 25px;
			}
		.actions h6 {
			font-weight: 300;
			font-size: 15px;
			margin-bottom: 7px;
			text-transform: uppercase;
		}
		.actions h5 {
			font-weight: 300;
			font-size: 24px;
			margin-bottom: 15px;
		}
		.actions .action_buttons {
			margin-bottom: 15px;
			height: 40px;
		}
			.actions .action_buttons a {
				display: block;
				float: left;
				width: 48.5%;
				text-align: center;
				color: #ffffff;
				text-decoration: none;
				background: #333333;
				border-radius: 3px;
				padding: 12px 0px;
				font-weight: 300;
				background: #0d437b;
			}
				.actions .action_buttons a:hover {
					background: #2069b4;
				}
				.actions .action_buttons a i {
					display: inline-block;
					margin-right: 8px;
				}
				.actions .action_buttons a#delete {
					float: right;
					background: #9d0e0e;
				}
					.actions .action_buttons a:hover#delete {
						background: #de3030;
					}
					
					
	.shader {
		height: 400px;
		width: 598px;
		background: #f2f2f2;
		opacity: .7;
		position: absolute;
		border-radius: 3px;
		margin-top: -20px;
		margin-left: -20px;
		display: none;
	}
	
	
	a.add_new_account {
		background: #76bf21;
		color: #ffffff;
		display: block;
		text-align: center;
		margin: 15px 180px 10px 180px;
		margin-bottom: 5px;
		border-radius: 2px;
		padding: 11px 13px;
		text-decoration: none;
		font-weight: 300;
		font-size: 14px;
		border-bottom: 3px solid #5e9c15;
	}
		a.add_new_account i {
			display: inline-block;
			margin-right: 10px;
		}
		
		a:hover.add_new_account {
			background: #88d82b;
			border-bottom-color: #76bf21;
		}
		
		
/* Account creation form styles */
ul.acc_picker {
	display: table;
	margin-bottom: 25px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	border-radius: 3px;
	width: 100%;
}
	ul.acc_picker li {
		display: table-cell;
		border-right: 1px solid #ffffff;
	}
		ul.acc_picker li a {
			color: #333333;
			text-decoration: none;
			display: block;
			padding: 7px 10px 7px 10px;
			font-size: 16px;
			border-radius: 3px;
		}
			ul.acc_picker li a i {
				display: inline-block;
				margin-right: 15px;
				color: #777777;
			}
			ul.acc_picker li:first-child a {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			ul.acc_picker li:last-child a {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			ul.acc_picker li a:hover {
				
			}
			ul.acc_picker li a.active {
				background: #e8e8e8;
			}
				ul.acc_picker li a.active i {
					color: #f04f00
				}
				
			
.db {
	display: none;
}
.fresh {
	display: none;
}
#safe_to_store {
	font-weight: 300;
	font-size: 22px;
	display: inline-block;
	margin-bottom: 20px;
	padding: 10px 17px;
	background: #f2f2f2;
	width: auto;
	border-radius: 3px;
}

form#cs input[type=text]#account_input {
	width: 240px;
	border-radius: 3px;
}
input[type=text].up {
	border-radius: 3px;
}

form#cs input[type=text]#server_name {
	width: 130px;
	margin-right: 10px;
	border-radius: 3px;
}
	.corp {
		display: inline-block;
		vertical-align: top;
		padding-top: 14px;
		font-size: 15px;
		color: #666666;
	}
	
#not_corp {
	display: block;
	float: right;
	font-size: 14px;
	color: #666666;
	padding-top: 14px;
}
	a:hover#not_corp {
		text-decoration: none;
	}

.passwords {
	border-top: 2px solid #e8e8e8;
	padding-top: 20px;
}
	.passwords span.p_error {
		color: #b50000;
		display: none;
		margin-bottom: 15px;
		font-size: 14px;
		clear: both;
	}
	.passwords > div {
		float: left;
		width: 48%;
	}
	.passwords > div:last-child {
		float: right;
	}
	form#cs .passwords input[type=password] {
		width: 200px;
		padding: 6px 9px;
		border-radius: 3px;
		margin-bottom: 15px;
	}
	.passwords label.extra {
		margin-top: 10px;
		float: left;
	}
	
#formError {
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 12px 15px;
	color: #b50000;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: -5px;
}
	

.grey {
	padding: 18px;
	background: #e8e8e8;
	border-radius: 3px;
	margin-bottom: 20px;
	padding-bottom: 0px;
}
	form#cs .grey input[type=text], .grey input[type=number] {
		width: 100px;
		padding: 6px 9px;
		margin-bottom: 20px;
		border-radius: 3px;
	}
		.grey input[type=text].inactive, .grey input[type=number].inactive {
			color: #888888;
		}
	.grey > div {
		float: left;
		width: 40%;
	}
	.grey > div:last-child {
		float: right;
		width: 60%;
	}
		form#cs .grey div input[name=databaseName] {
			width: 190px;
		}
		form#cs .grey div input[name=os_server_name], .grey div input[name=db_server_name] {
			width: 170px;
		}
	
	
/* ----------- SEARCH OBJECTS ---------------- */
#objectSearch {
	padding-top: 20px;
}
	#objectSearch input {
		border-radius: 3px;
		background: #e1e1e1;
		color: #333333;
		font-size: 15px;
		font-family: 'Source Sans Pro';
		border: 0px;
		padding: 10px 15px;
		width: 100%;
		margin-bottom: 10px;
	}
		#objectSearch input.inactive {
			color: #777777;
		}
	#objectSearch .filters {
		margin-bottom: 15px;
		display: none;
	}
		#objectSearch .filters label {
			display: inline-block;
			padding: 8px 0px;
			margin-right: 15px;
			text-transform: uppercase;
			font-size: 14px;
		}
		#objectSearch .filters a {
			display: inline-block;
			padding: 5px 15px;
			background: #cccccc;
			font-size: 14px;
			margin-right: 1px;
			background: #e1e1e1;
			text-decoration: none;
			color: #666666;
		}
			#objectSearch .filters a:hover {
				background: #d3d3d3;
			}
			#objectSearch .filters a.first {
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
			#objectSearch .filters a.last {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				margin-right: 0px;
			}
			#objectSearch .filters a.active {
				background: #0c73bb;
				color: #ffffff;
			}
	ul#searchResults {
		list-style: none;
		font-size: 14px;
	}
		ul#searchResults li {
			list-style: none;
			padding-bottom: 5px;
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 5px;
		}
			ul#searchResults li a {
				color: #444444;
				text-decoration: none;
				display: block;
				padding: 10px 10px;
				border-radius: 3px;
			}
			ul#searchResults li a .objectSearchName {
				font-weight: bold;
				margin-bottom: 7px;
				display: block;
			}
				ul#searchResults li a .objectSearchName span {
					background: #b1d4ef;
				}
			ul#searchResults li a .safeSearchName {
				font-size: 13px;
			}
				ul#searchResults li a .safeSearchName label {
					text-transform: uppercase;
					display: inline-block;
					margin-right: 10px;
					color: #999999;
				}
				
				ul#searchResults li a:hover {
					background: #e1e1e1 !important;
				}

#objectLoader {
	display: block;
	text-align: center;
	padding: 25px 0px 15px;
	clear: both;
	margin: 0 auto;
}	
	#objectLoader img {
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;
	}
	#objectLoader span {
		font-weight: 300;
		font-size: 20px;
		display: inline-block;
		vertical-align: top;
		padding-top: 6px;
	}
#objectDetails {
	width: 100%;
	margin-bottom: 15px;
}
	#objectDetails tr {
	
	}
		#objectDetails tr td {
			padding: 8px 10px;
			font-size: 15px;
			font-weight: 300;
		}
			#objectDetails tr td:first-child {
				width: 200px;
				border-right: 3px solid #ffffff;
			}
				#objectDetails tr td:first-child.wide {
					width: 100%;
					border: 0px;
				}
			#objectDetails tr:nth-child(2n) td {
				background: #e4e9f1;
			}
	