.window {
	position: absolute;
	margin-left: 300px;
	margin-bottom: 35px;
	/* width: 520px; */
	width:595px;/* GUNJAN CODE line 6*/	
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 3px 1px 0px #e3e8ec;	
	z-index: 900;
	display: none;
}
	.window h2 {
		color: #333333;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 15px;
	}
		.window h2 i {
			margin-right: 20px;
			color: #004676;
			float: left;
			display: block;
		}
		.window h2 span {
			float: left;
			display: block;
			margin-bottom: 20px;
			word-wrap: break-word;
		}
		
.window .shadow {
	background: #e8e8e8;
	border-radius: 3px;
	position: absolute;
	margin: -20px;
	width: 518px;
	height: 100px;
	display: none;
}
	.window p {
		clear: both;
		line-height: 20px;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 20px;
	}
	
	.window .button {
		float: left;
		border-radius: 3px;
		background: #e8e8e8;
		color: #444444;
		display: block;
		width: 180px;
		padding: 10px 0px;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		border-bottom: 2px solid #cecece;
	}
	.window .button.right {
		float: right;
		background: #4ba61f;
		color: #ffffff;
		border-bottom: 2px solid #3f9117;
		border-radius: 5px;
	}
	/* gunjan code for verify button */
	 .btncustom1 {
		display: block;
		width: 65px;
		padding: 5px 0px;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		float: right;
		background: #4ba61f;
		color: #ffffff;
		border-bottom: 2px solid #3f9117;
		border-radius: 5px;
	}
		
	.window .button.inactive {
		opacity: 0.5;
		cursor: default;
	}
		
		
	#safe_list input {
		color: #333333;
		background: #e8e8e8;
		font-family: 'Source Sans Pro';
		font-weight: 300;
		padding: 8px 15px;
		width: 100%;
		border-radius: 3px;
		font-size: 15px;
		margin-bottom: 15px;
		border: 0px;
	}
		#safe_list input.inactive {
			color: #888888;
		}
	
	#safe_list ul {
		list-style: none;
		margin-bottom: 15px;
	}
		#safe_list ul li {
		
		}
			#safe_list ul li.none {
				padding: 9px 15px;
				font-size: 15px;
				color: #666666;
			}
			#safe_list ul li a {
				display: block;
				padding: 9px 15px;
				font-size: 15px;
				border-radius: 3px;
				color: #444444;
				text-decoration: none;
			}
				#safe_list ul li a .highlight {
					background: #f1e173;
					display: inline-block;
					color: #444444;
				}
				#safe_list ul li a:hover {
					background: #f4f4f4;
				}
				#safe_list ul li a i {
					display: inline-block;
					margin-right: 15px;
					color: #cccccc;
				}
				#safe_list ul li a.active {
					background: #a3bee6;
					color: #ffffff;
				}
					#safe_list ul li a.active i {
						color: #ffffff;
					}
				
	#protectFull .pages_bar {
		margin-bottom: 15px !important;
		background: #ffffff;
		border-top: 2px solid #e8e8e8;
		border-radius: 0px;
	}
	
#currentPasswordLoader {
	float: left;
	margin: 10px 0px 0px 20px;
	display: none;
}
#currentPasswordError {
	color: #b50000;
	margin: -5px 0px 25px 165px;
	font-size: 14px;
	clear: both;
}
#currentPasswordCont {
	height: 60px;
}
#what_usage {

}
	#what_usage p {
		margin-bottom: 10px;
		font-weight: 600;
	}
	#what_usage ul {
		list-style: none;
		margin-bottom: 15px;
	}
		#what_usage ul li {
		
		}
			#what_usage ul li.none {
				padding: 9px 15px;
				font-size: 15px;
				color: #666666;
			}
			#what_usage ul li a {
				display: block;
				padding: 9px 15px;
				font-size: 15px;
				border-radius: 3px;
				color: #444444;
				text-decoration: none;
			}
				#what_usage ul li a span {
					display: inline-block;
					width: 400px;
					vertical-align: top;
				}
				#what_usage ul li a .highlight {
					background: #f1e173;
					display: inline-block;
					color: #444444;
				}
				#what_usage ul li a:hover {
					background: #f4f4f4;
				}
				#what_usage ul li a i {
					display: inline-block;
					margin-right: 15px;
					color: #cccccc;
					width: 18px;
					vertical-align: top;
				}
				#what_usage ul li a.active {
					background: #a3bee6;
					color: #ffffff;
				}
					#what_usage ul li a.active i {
						color: #ffffff;
					}
	
/* Form stuff */
input#currentPassword {
	font-size: 15px;
	font-family: 'Source Sans Pro';
	width: 200px;
	padding: 9px 12px;
	border: 1px solid #cccccc;
	vertical-align: top;
	border-radius: 3px;
	float: left;
}
#protect_account input[type=text], #protect_account input[type=password] {
	font-size: 15px;
	font-family: 'Source Sans Pro';
	width: 300px;
	padding: 9px 12px;
	border: 1px solid #cccccc;
	margin-bottom: 25px;
	vertical-align: top;
	border-radius: 3px;
}
.req {
	display: inline-block;
	padding-top: 1px;
	padding-left: 5px;
	color: #b50000;
	font-size: 24px;
	font-weight: 300;
}
label {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 300;
}
	label#currentPasswordLabel {
		float: left;
		padding-top: 13px;
		padding-right: 30px;
	}
.passwords {
	border-top: 2px solid #e8e8e8;
	padding-top: 20px;
}
	.passwords span.p_error {
		color: #b50000;
		display: none;
		margin-bottom: 15px;
		font-size: 14px;
		clear: both;
	}
	.passwords > div {
		float: left;
		width: 48%;
	}
	.passwords > div:last-child {
		float: right;
	}
	#protect_account .passwords input[type=password] {
		width: 180px;
		padding: 6px 9px;
		border-radius: 3px;
		margin-bottom: 15px;
	}
	.passwords label.extra {
		margin-top: 10px;
		float: left;
	}
	
ul.acc_picker {
	display: table;
	margin-bottom: 25px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	border-radius: 3px;
	width: 100%;
}
	ul.acc_picker li {
		display: table-cell;
		border-right: 1px solid #ffffff;
	}
		ul.acc_picker li a {
			color: #333333;
			text-decoration: none;
			display: block;
			padding: 7px 10px 7px 10px;
			font-size: 14px;
			border-radius: 3px;
		}
			ul.acc_picker li a i {
				display: inline-block;
				margin-right: 15px;
				color: #777777;
			}
			ul.acc_picker li:first-child a {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			ul.acc_picker li:last-child a {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			ul.acc_picker li a:hover {
				
			}
			ul.acc_picker li a.active {
				background: #e8e8e8;
			}
				ul.acc_picker li a.active i {
					color: #f04f00
				}
		
		
	#formLoading {
		background: rgba(255,255,255,0.91);
		height: 500px;
		width: 479px;
		margin-left: -1px;
		position: absolute;
		font-weight: 400;
		margin-top: 25px;
		font-size: 29px;
		padding-top: 60px;
		text-align: center;
		display: none;
	}
		#formLoading img {
			display: inline-block;
			text-align: center;
			margin-bottom: 25px;
		}
		#formLoading > i {
			color: #47b031;
			font-size: 64px;
			margin-bottom: 25px;
			display: inline-block;
		}
			#formLoading > i.red {
				color: #b50000 !important;
			}
		#formLoading span {
			font-size: 16px;
			display: block;
			margin-top: 10px;
			margin-bottom: 25px;
		}
			#formLoading span a {
				color: #47b031;
			}
				#formLoading span a:hover {
					text-decoration: none;
				}
		#formLoading .fButton {
			border-radius: 3px;
			background: #e8e8e8;
			color: #555555;
			font-weight: 300;
			font-size: 15px;
			padding: 10px 20px;
			display: inline-block;
			text-decoration: none;
			border-bottom: 2px solid #d3d3d3;
		}
			#formLoading a.fButton:hover {
				background: #cccccc;
				border-bottom: 2px solid #aaaaaa;
			}
			#formLoading .fButton i {
				display: inline-block;
				margin-right: 15px;
				color: #999999;
			}
			
		#formLoading ul {
			text-align: left;
			padding-left: 50px;
		}
			#formLoading ul li {
				padding-bottom: 7px;
			}
		
a.update_switcher {
	font-size: 14px;
	font-weight: 300;
	background: #dee9f1;
	color: #333333;
	padding: 4px 10px;
	display: inline-block;
	vertical-align: middle;
}
	a.update_switcher:hover {
		background: #b6cddd;
		text-decoration: none !important;
	}
	a.update_switcher#auto {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
		a.update_switcher#auto.active {
			background: #1d95e5;
			color: #ffffff;
		}
	a.update_switcher#manual {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
		a.update_switcher#manual.active {
			background: #1d95e5;
			color: #ffffff;
		}
	
	span.result {
		width: 40px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		display: none;
	}
		span.result img {
			height: 14px;
		}
		span.result i.green {
			color: #47b031;
		}
		span.result i.red {
			color: #b50000;
		}
	span.error {
		display: none;
		color: #b50000;
		font-size: 13px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
		
	.protect2 {
		background: #914c4c;
		color: #ffffff !important;
		padding: 4px 10px;
		text-decoration: none;
		font-size: 14px !important;
		border-radius: 2px;
		font-weight: 300;
		cursor: pointer;
		display: inline-block;
		width: 90px;
	}
		.protect2 i {
			color: #ffffff !important;
			display: inline-block;
		}
		a.protect2:hover {
			text-decoration: none !important;
			background: #b86e6e;
		}

/* Password help icon */		
#password_help {
	color: #2b74e2;
	cursor: pointer;
	font-size: 16px;
	float: right;
}
	#password_help:hover {
		color: #75a2e7;
	}
		
		
#help_window {
	background: rgba(244,244,205,0.95);
	border-radius: 3px;
	color: #333333;
	width: 400px;
	font-size: 14px;
	font-weight: 300;
	padding: 20px;
	position: absolute;
	margin-left: 620px;
	display: none;
}
	#help_window .exit {
		float: right;
		color: #333333;
		font-size: 18px;
		margin: -8px;
	}
	#help_window strong {
		display: block;
		color: #3563aa;
		margin-bottom: 5px;
	}
	#help_window p {
		line-height: 18px;
	}
	#help_window.
	
	/* Password help number 2 icon */		
#password_help2 {
	color: #2b74e2;
	cursor: pointer;
	font-size: 16px;
	float: right;
}
	#password_help2:hover {
		color: #75a2e7;
	}
		
		
#help_window2 {
	background: #f4f4cd;
	border-radius: 3px;
	color: #333333;
	width: 400px;
	font-size: 14px;
	font-weight: 400;
	padding: 20px;
	position: absolute;
	margin-left: 280px;
	top: 380px;
	display: none;
}
	#help_window2 .exit {
		float: right;
		color: #333333;
		font-size: 18px;
		margin: -8px;
	}
	#help_window2 strong {
		display: block;
		color: #3563aa;
		margin-bottom: 5px;
	}
	#help_window2 p {
		line-height: 18px;
	}
	#help_window2.
	
table.my_servers tbody tr td.actions {
	padding: 0px 10px;
}
/* for reconcile name*/
#txtReconcile select {
    height: 24px;
    width: 130px;
}

